{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content ">
        <div class="container">
            <div class="row form-v2-content mx-auto ">

                <div class="col-md-6">
                    <div class="form-detail">
                        <h2 class="font-weight-bold">Chat</h2>
                        <hr class="hr-title">
                        <form action="{{ path('app_index_chatmessages') }}">
                            {{ form_start(form) }}
                                <div class="card mt-3">
                                    <div id='message-container' class="card-body" style="height:300px; overflow: auto">

                                    </div>
                                </div>
                                <form id="form-message" class="form-inline mt-2">
                                    <div class="row">
                                        <div class="form-group">
                                            {{ form_row(form.message_to) }}
                                            {{ form_row(form.user_envoi) }}
                                        </div>
                                        <div class="form-group col-lg-10">
                                            <button class=" btn btn-outline-primary" type="submit">Envoyer</button>
                                            {#   PAS DE TYPE SUBMIT ????  thusy        #}
                                        </div>
                                    </div>
                            {{ form_end(form) }}
                            </form>
                        </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{##}





{% endblock %}

