{% extends 'base.html.twig' %}

{% block body %}

    <section id="MAIN-CONTAINER">

        <div class="container">

            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <p class="date-ajout">DATE DE CREATION DU PROFIL</p>
                </div>
            </div>

            <div class="row justify-content-md-center">

                <!------- section gauche --------->

                <section class="col-md-3" id="user-profile-left">
                    <div class="card">

                        <!--- photo--->
                        {% if user.photo %}
                            <img class="card-img-top" src="{{ asset('photo/' ~ user.photo ) }}"
                                 alt="Titre de la photo">
                        {% else %}
                            <img class="card-img-top" src="https://source.unsplash.com/random"
                                 alt="Titre de la photo">
                        {% endif %}

                        <div class="card-body text-center">

                            <!--- infos--->
                            <h5 class="card-title user-lastname text-fluid">{{ user.lastname }}</h5>
                            <h5 class="card-title user-firstname text-fluid">{{ user.firstname }}</h5>
                            <p class="card-text user-job">{{ user.emploi }}</p>
                            <!--- boutons action--->
                            <!--- bouton modifier-->
                            <a class="btn btn-labeled btn-info user-btn" type="submit"
                               href="{{ path('app_user_moncompte') }}>
                            <i class="fa fa-pen"></i>
                            <span class="align-middle">Modifier</span>
                            </a>

                        </div>
                    </div>
                </section>

                <!------- section droite --------->


            <section class="col-md-7" id="my-profile">
                <div class="formulaire">
                    <h3 class="text-center mb-4">Ajouter ce contact</h3>
                    <hr class="hr-title">


                    <div class="dropdown invisibl">
                        <button class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="col-md-6 dropdown-menu">
                            <div class="dropdown-item">

                                {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_row(form.nom) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.prenom) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.email) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.dateDeNaissance) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.telephone) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.profession) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.adresse) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.codePostal) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.ville) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.photo) }}
                                </div>
                            </div>{#end dropdown-item#}
                        </div> {#end dropdown-menu#}
                    </div>{#end dropdown#}


                    <div class="row form-group justify-content-md-center  form-separator">
                        <p>Ajoutez si vous le souhaitez quelque chose à propos de ce contact <br>
                            (date de rencontre, lieu, annecdote, anniversaire...) :</p>
                        <div class="col-sm-3 col-form-label">{{ form_label(form.notePersonnelle) }}</div>
                        <div class="col-sm-7">{{ form_widget(form.notePersonnelle) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.notePersonnelle) }}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-labeled btn-info user-btn">
                                <ion-icon class="align-middle" name="checkbox-outline"></ion-icon>
                                <span class="align-middle">Enregistrer ce contact</span>
                            </button>
                    {#<div class="form-group">#}
                        {#<button class="btn-valider btn-block" type="submit">Valider</button>#}
                    {#</div>#}
                        </div>
                        <div class="col-md-6">
                            <button type="" class="btn btn-labeled btn-secondary user-btn">
                                <ion-icon class="align-middle" name="close-circle-outline"></ion-icon>
                                <span class="align-middle"><a
                                            href="{{ path('app_user_listcontact') }}">Annuler</a></span>
                            </button>
                        </div>
                    {{ form_end(form) }}
                    </div>
                </div>{# end div.formulaire#}
            </section> {# end div#my-profile #}
        </div>
    </div><!-- END CONTAINER -->


</section>
{% endblock %}



{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
    {#<div class="page-content">#}
        {#<div class="container">#}
            {#<div class="row form-v2-content mx-auto ">#}

                {#<div class="col-md-6">#}
                    {#<div class="form-detail">#}
                        {#<h2>Ajouter un contact</h2>#}
                        {#{{ form_start(form) }}#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.nom) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.prenom) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.email) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.dateDeNaissance) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.telephone) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.profession) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.adresse) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.codePostal) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.ville) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.photo) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.notePersonnelle) }}#}
                        {#</div>#}

                        {#<div class="form-group">#}
                            {#<button class="btn-valider btn-block" type="submit">Valider</button>#}
                        {#</div>#}
                        {#{{ form_end(form) }}#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}




