{% extends 'base.html.twig' %}

{% block body %}

    <section id="MAIN-CONTAINER">


        <div class="container">
            <div class="row justify-content-center">

                <!------- section gauche --------->

                <section class="col-sm-7 col-md-3 col-lg-3 justify-content-md-center" id="user-profile-left">
                    <div class="card">

                        <!-------------- gestion photo ----------------->

                        {{ form_start(form) }}

                        <img class="card-img-top preview" src="https://banner2.kisspng.com/20180421/lyw/kisspng-computer-icons-avatar-clip-art-5adb009b938864.3066118615243019796043.jpg"

                        <!-------------- upload photo ----------------->

                        <div id="upload-photo">
                            <div class="btn-upload">
                                <ion-icon class="align-middle" name="camera"></ion-icon>
                                <span class="align-middle user-btn">Modifier la photo</span>
                                {{ form_widget(form.photo) }}
                            </div>
                            <div class="user-btn">
                            </div>
                        </div>

                    </div>
                </section>


                <!------- section droite --------->

                <section class="col-xs-12 col-md-7 col-lg-7 justify-content-md-center" id="my-profile">
                    <div class="formulaire ">
                        <h3 class="text-center mb-4">Créer un contact</h3>
                        <hr class="hr-title">


                        <div class="row form-group justify-content-center">
                            <div class="col-sm-3 col-form-label form-separatorl">{{ form_label(form.prenom) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.prenom) }}</div>
                        </div>
                        <div class="row form-group justify-content-center">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.nom) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.nom) }}</div>
                        </div>
                        <div class="row form-group justify-content-md-center form-separator">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.profession) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.profession) }}</div>
                        </div>


                        <div class="row form-group justify-content-center">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.email) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.email) }}</div>
                        </div>
                        <div class="row form-group justify-content-center form-separator">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.telephone) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.telephone) }}</div>
                        </div>


                        <div class="row form-group justify-content-center">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.adresse) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.adresse) }}</div>
                        </div>
                        <div class="row form-group justify-content-center">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.codePostal) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.codePostal) }}</div>
                        </div>
                        <div class="row form-group justify-content-center  form-separator">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.ville) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.ville) }}</div>
                        </div>

                        <div class="row form-group justify-content-center form-separator">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.dateDeNaissance) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.dateDeNaissance) }}</div>
                        </div>

                        <div class="row form-group justify-content-center  form-separator">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.notePersonnelle) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.notePersonnelle) }}</div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <button type="submit" class="btn btn-labeled btn-info user-btn">
                                    <ion-icon class="align-middle" name="checkbox-outline"></ion-icon>
                                    <span class="align-middle">Valider</span>
                                </button>
                            </div>
                            {{ form_end(form) }}
                            <div class="col-sm-6 col-md-6">
                                <button type="" class="btn btn-labeled btn-secondary user-btn">
                                    <ion-icon class="align-middle" name="close-circle-outline"></ion-icon>
                                    <span class="align-middle"><a
                                                href="{{ path('app_user_listcontact') }}">Annuler</a></span>
                                </button>
                            </div>
                        </div>
                    </div>{# end div.formulaire#}
                </section> {# end div#my-profile #}
            </div>
        </div><!-- END CONTAINER -->

    </section>

{% endblock %}



{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    <div class="page-content">#}
{#        <div class="container">#}
{#            <div class="row form-v2-content mx-auto ">#}

{#                <div class="col-md-6">#}
{#                    <div class="form-detail">#}
{#                        <h2>Modifier votre contact</h2>#}
{#                        {{ form_start(form) }}#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.nom) }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.prenom) }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.email) }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.dateDeNaissance) }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.telephone) }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.profession) }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.adresse) }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.codePostal) }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.ville) }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.photo) }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_row(form.notePersonnelle) }}#}
{#                        </div>#}

{#                        <div class="form-group">#}
{#                            <button class="btn-valider btn-block" type="submit">Valider</button>#}
{#                        </div>#}
{#                        {{ form_end(form) }}#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

