{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="container">
            <div class="row form-v2-content mx-auto ">

                <div class="col-md-6">
                    <div class="form-detail">
                        <h2>Créer un contact</h2>
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.nom) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.prenom) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.dateDeNaissance) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.telephone) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.profession) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.adresse) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.codePostal) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.ville) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.photo) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.notePersonnelle) }}
                        </div>

                        <div class="form-group">
                            <button class="btn-valider btn-block" type="submit">Valider</button>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



