{% extends 'base.html.twig' %}

{% block body %}

    <section id="MAIN-CONTAINER">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-10 justify-content-end">
                    <p class="date-ajout">Inscrit(e) depuis le {{ user.getCreatedAt| date('d/m/Y') }}</p>
                </div>
            </div>


            <div class="row justify-content-center">

                <!------- section gauche --------->

                <section class="col-sm-7 col-md-3 col-lg-3 justify-content-md-center" id="user-profile-left">
                    <div class="card">

                        <!-------------- photo ----------------->


                        {{ form_start(form) }}

                        {% if user.photo %}
                            <img class="card-img-top preview" src="{{ asset('photo/' ~ user.photo ) }}"
                                 alt="Titre de la photo">
                        {% else %}
                            <img class="card-img-top preview"
                                 src="https://banner2.kisspng.com/20180421/lyw/kisspng-computer-icons-avatar-clip-art-5adb009b938864.3066118615243019796043.jpg"
                                 alt="Titre de la photo">
                        {% endif %}
                        {#                         upload photo#}
                        <div id="upload-photo">
                            <div class="btn-upload">
                                <ion-icon class="align-middle" name="camera"></ion-icon>
                                <span class="align-middle user-btn">Modifier la photo</span>
                                {{ form_widget(form.photo) }}
                            </div>
                            <div class="user-btn">
                            </div>
                        </div>

                        <!-------------- infos ----------------->

                        <div class="card-body text-center">
                            <!--- infos--->
                            <h5 class="card-title user-lastname text-fluid">{{ user.lastname }}</h5>
                            <h5 class="card-title user-firstname text-fluid">{{ user.firstname }}</h5>
                            <p class="card-text user-job">{{ user.emploi }}</p>
                        </div>


                    </div>
                </section>


                <!------- section droite --------->

                <section class="col-xs-12 col-md-7 col-lg-7 justify-content-md-center" id="my-profile">
                    <div class="formulaire ">

                        <h3 class="text-center mb-4">Modifier mon profil</h3>
                        <hr class="hr-title">

                        <div class="row form-group justify-content-center">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.phone) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.phone) }}</div>
                        </div>
                        <div class="row form-group justify-content-center">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.email) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.email) }}</div>
                        </div>
                        <div class="row form-group justify-content-center">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.emploi) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.emploi) }}</div>
                        </div>
                        <div class="row form-group justify-content-center form-separator">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.dateBirth) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.dateBirth) }}</div>
                        </div>


                        <div class="row form-group justify-content-center">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.adress) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.adress) }}</div>
                        </div>
                        <div class="row form-group justify-content-center">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.postalCode) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.postalCode) }}</div>
                        </div>
                        <div class="row form-group justify-content-center form-separator">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.city) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.city) }}</div>
                        </div>

                        <div class="row form-group justify-content-center  form-separator">
                            <div class="col-sm-3 col-form-label">{{ form_label(form.notePerso) }}</div>
                            <div class="col-sm-7">{{ form_widget(form.notePerso) }}</div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <button type="submit" class="btn btn-labeled btn-info user-btn">
                                    <ion-icon class="align-middle" name="checkbox-outline"></ion-icon>
                                    <span class="align-middle">Valider</span>
                                </button>
                            </div>
                            {{ form_end(form) }}
                            <div class="col-sm-6 col-md-6">
                                <button type="" class="btn btn-labeled btn-secondary user-btn">
                                    <ion-icon class="align-middle" name="close-circle-outline"></ion-icon>
                                    <span class="align-middle"><a href="{{ path('app_user_listcontact') }}">Annuler</a></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>{# end div.formulaire#}
        </div><!-- END CONTAINER -->

    </section>

{% endblock %}
