{% extends 'base.html.twig' %}

{% block title %}Bonjour {{ user.firstname }}{% endblock %}

{% block body %}
<div class="container" id="tools">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="bt-ajouter btn btn-link btn-block mb-4 ">
                <a class="btn btn-info nav-link" href="' . URL . 'admin/ajout-contact.php"><i class="fas fa-plus-circle mr-2"></i>Ajouter un contact</a>
            </div>
        </div>

        <div class="col-sm-12 col-md-4" id="recherche">
            <form id="search-form" class="form-inline" role="form" method="post" action="#" target="_blank">
                <div class="input-group">
                    <input type="text" class="form-control search-form" placeholder="Rechercher un contact">
                    <span class="input-group-btn">
                            <button type="submit" class="btn search-btn" data-target="#search-form" name="q"><i class="fa fa-search"></i></button>
                        </span>
                </div>
            </form>
        </div>

        <div class="col-sm-12 col-md-4">
            <a class="list-group-item ' . $activeall . '" href="?categ=*">Tous les contacts</a>
            <div class ="form-group ">
                <select class="form-control"  id="exampleFormControlSelect 1">
                    <option value="'  . $activeall . ' href = "?categ =*">Tous les contacts</option>
                    <div class="container">
                        <ul class="list-group list-group-flush">
                            {% for contact in contacts %}
                                <li class="list-group-item">
                                    <div class="contact" id="contact">
                                        <div class="row">
                                            <div class="col-sm-7 col-md-4  d-flex align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <div class="image"><a href="fiche_contact.php?id_contact=' . $prd['id_contact'] . '"><img src="{{ asset('') }}" alt="' . $prd['nom'] . '" class="img-fluid rounded-circle"></a></div>
                                                    <div class="text">
                                                        <a href="{{ path('app_contact_index', {'id': contact.id }) }}"> {{ contact.nom }} ' .  $prd['prenom'] . ' </a>
                                                        <br>
                                                        <small>{{ contact.profession }}</small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="picto col-sm-4 col-md-3 d-flex align-items-center">
                                                <i class="fas fa-mobile-alt"></i>{{ contact.telephone }}
                                            </div>

                                            <div class="picto hidden-sm hidden-xs d-xs-none col-md-4 d-flex align-items-center">
                                                <i class="fas fa-envelope-square"></i>{{ contact.email }}
                                            </div>
                                            <div class="col-sm-1 col-md-1 d-flex justify-content-center mx-auto my-auto">
                                                <a class="btn btn-link btn-info nav-link mr-3" href=""><i class="fas fa-pen"></i></a>
                                                <a class="btn btn-link btn-info nav-link" href=""><i class="fas fa-trash"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <div class="alert alert-info mt-5">Désolé aucun contact ne correspond</div>
                            {% endfor %}
                        </ul>
                    </div>
                </select>
            </div>
        </div>
    </div>
</div>
{% endblock %}
