{% extends 'base.html.twig' %}

{% block body %}

{#    <body class="body-bg">#}
{#    <main>#}
    <div class="container" id="contact-list">

        <secton class="container">
            <div class="row justify-content-md-center">
                <div class="col-5">
                    <h3 class="text-center mb-4">Vos contacts</h3>
                    <hr class="hr-title">
                </div>
            </div>
        </secton>


        <section class="container" id="buttons-options">
            <div class="row">
                <div class="col-md-5 mr-auto" id="recherche">
                    <form id="search-form" class="form-inline" role="form" action="{{ path('app_user_listcontact') }}">
                        <div class="input-group">
                            <input type="text" class="form-control search-form" name="search"  placeholder="Rechercher un contact">
                            <span class="input-group-btn input-group-append">
                                    <button type="submit" class="btn btn-info search-btn" data-target="#search-form"><i class="fa fa-search"></i></button>
                                </span>
                        </div>
                    </form>
                </div>

                <div class="col-md-2">
                    <div class="form-group ">
                        <select id="" class="form-control btnFilterBy">
                            <option selected>Filtrer par</option>
                            <option>Professionel</option>
                            <option>Famille</option>
                            <option>Autres</option>
                            <option>Ajouter un filtre</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <select id="" class="form-control btnSortBy">
                            <option selected>Trier par</option>
                            <option>Ordre alphabétique A-z</option>
                            <option>Ordre alphabétique z-A</option>
                            <option>Ajouts récents d'abord</option>
                            <option>Ajouts anciens d'abord</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section class="container">

            <section id="legend">
                <div class="row">
                    <div class="col-md-4"><p>Photo</p></div>
                    <div class="col-md-3 align-items-center"><p>Téléphone</p></div>
                    <div class="col-md-3 align-items-center"><p>Mail</p></div>
                    <div class="col-md-2 align-items-center"><p>Action</p></div>
                </div>
            </section>

            <section class="row" id="list">
                <div class="col">
                    <ul class="list-group list-group-flush">


                        <li class="list-group-item ">
                            <div class="row justify-content-md-center">
                                <div class="col-auto ">
                                    <button type="button" class="btn btn-link btn-info btn-add-contact ">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        <a href="{{ path('app_contact_createcontact') }}" >Ajouter un nouveau contact</a>
                                    </button>
                                </div>
                            </div>
                        </li>





                        {% for contact in contacts %}

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-4 d-flex align-items-center">
                                        <div class="image">
                                            <a href=<img src="{{ asset('photo/' ~ contact.photo) }}" alt="" class="img-fluid rounded-circle">
                                            </a>
                                        </div>
                                        <div class="text">

                                            <a href="{{ path('app_contact_fichecontact', {'id': contact.id}) }}">{{ contact.nom }} {{ contact.prenom }}</a>
                                            <br>
                                            <small> {{ contact.profession }}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center picto ">
                                        <i class="fas fa-mobile-alt"></i>{{ contact.telephone }}
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center picto ">
                                        <i class="fa fa-envelope"></i>{{ contact.email }}
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-end m-auto">
                                        <button type="button"
                                                href="{{ path('app_contact_editcontact', {'id': contact.id}) }}"
                                                class="btn btn-link btn-info btn-user ">
                                            <i class="fa fa-pen"></i>
                                        </button>
                                        <button type="button"
                                                href="{{ path('app_contact_deletecontact', {'id': contact.id} ) }}"
                                                class="btn btn-link btn-secondary btn-user">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <button type="button" href="{{ path('app_index_chat', {'id': contact.id}) }}"
                                                type="submit" class="btn btn-link btn-secondary btn-user">>Chatter</a>
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            <div class="alert alert-info mt-5">Vous n'avez pas encore enregistré de contact.</div>
                        {% endfor %}
                    </ul>


                    <!--PAGINATION-->
                    <section id="pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Précédent</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Suivant</a>
                                </li>
                            </ul>
                        </nav>
                    </section>

                </div>
            </section>

        </section>
    </div><!-- END CONTACT-LIST -->
{#    </main>#}
{#    </body>#}

{% endblock %}

