{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <p class="date-ajout">DATE DE CREATION DUe l'USER</p>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <section class="col-md-3" id="user-profile-left">
                <div class="card">
                    <img class="card-img-top" src="https://source.unsplash.com/random"
                         alt="Titre de la photo">
                    <div class="card-body text-center">
                        <h5 class="card-title user-lastname text-fluid">{{ user.lastname }}</h5>
                        <h5 class="card-title user-firstname text-fluid">{{ user.firstname }}</h5>
                        <p class="card-text user-job">{{ user.emploi }}</p>
                        <a class="btn btn-labeled btn-info user-btn" type="button"
                           href="{{ path('app_user_moncompte') }}">
                            <i class="fa fa-pen"></i>Modifier</a>
                    </div>
                </div>
            </section>

            <!------- section centre --------->

            <div class="col-md-5">
                <section id="user-profile-right">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item title">
                            <i class="pictos-title fas fa-user"></i>
                            <h5 class="card-title">A propos</h5>
                        </li>
                        <li class="list-group-item">
                            <i class="pictos fas fa-phone"></i>
                            <p class="infos">{{ user.phone }}</p>
                        </li>
                        <li class="list-group-item">
                            <div><i class="pictos fa fa-envelope "></i></div>
                            <div><p class="infos">{{ user.email }}</p></div>
                        </li>
                        <li class="list-group-item">
                            <i class="pictos fa fa-home"></i>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text infos">{{ user.adress }}</p>
                                    <p class="card-text infos">{{ user.city }}</p>
                                    <p class="card-text infos">{{ user.postalCode }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>

            <!------- section-right- ADRESSE--------->

            <div class="col-md-4">
                <section id="user-profile-right">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item title">
                            <i class="pictos-title fas fa-home"></i>
                            <h5 class="card-title">Adresse</h5>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text infos">{{ user.adress }}</p>
                                    <p class="card-text infos">{{ user.city }}</p>
                                    <p class="card-text infos">{{ user.postalCode }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>


                <!------- section-right-WEB--------->

                <div class="raw">
                    <section id="user-profile-right">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item title">
                                <i class="fa fa-at" aria-hidden="true"></i>
                                <h5 class="card-title">Liens Web</h5>
                            </li>
                            <li class="list-group-item">
                                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                                   data-show-count="false">Tweet</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </li>
                            <li class="list-group-item">
                                <script src="https://platform.linkedin.com/in.js"
                                        type="text/javascript">lang: en_US</script>
                                <script type="IN/Share" data-url="https://www.linkedin.com"></script>
                            </li>
                            <li class="list-group-item">
                                <a href="http://twitter.com/share" class="twitter-share-button"
                                   data-count="vertical" data-via="InfoWebMaster">Tweet</a>
                                <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                            </li>
                            <li class="list-group-item">
                                <a href="http://www.facebook.com/sharer.php?u=http://VotreURL.com&t=Votre%20message%20ici.">Partager
                                    sur Facebook</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <hr class="light">

    <!------- suggestions--------->

    <section id="suggestions">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-5">
                    <h3 class="text-center mb-4">Vous les connaissez peut-être</h3>
                    <hr class="hr-title">
                </div>
            </div>

            <div class="row text-center mb-5" id="user-profile-left">
                <div class="col-md-3">
                    <div class="card d-flex justify-content-between">
                        <img class="card-img-top rounded-circle" src="https://source.unsplash.com/random">

                        <div class="card-body">
                            <div class="card-texts">
                                <h5 class="card-title user-name">{{ user.lastname }} {{ user.firstname }}</h5>
                                <p class="card-text user-job">{{ user.emploi }}</p>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-labeled btn-info user-btn">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span class="align-middle">Ajouter</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card d-flex justify-content-between">
                        <img class="card-img-top rounded-circle" src="https://source.unsplash.com/random">

                        <div class="card-body">
                            <div class="card-texts">
                                <h5 class="card-title user-name">{{ user.lastname }}{{ user.firstname }}</h5>
                                <p class="card-text user-job">{{ user.emploi }}</p>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-labeled btn-info user-btn">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span class="align-middle">Ajouter</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card d-flex justify-content-between">
                        <img class="card-img-top rounded-circle" src="https://source.unsplash.com/random">

                        <div class="card-body">
                            <div class="card-texts">
                                <h5 class="card-title user-name">{{ user.lastname }} {{ user.firstname }}</h5>
                                <p class="card-text user-job">{{ user.emploi }}</p>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-labeled btn-info user-btn">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span class="align-middle">Ajouter</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card d-flex justify-content-between">
                        <img class="card-img-top rounded-circle" src="https://source.unsplash.com/random">

                        <div class="card-body">
                            <div class="card-texts">
                                <h5 class="card-title user-name">Alexandra Dugrandchateaudeau</h5>
                                <p class="card-text user-job">Commerciale et ingénieure informaticienne </p>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-labeled btn-info user-btn">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span class="align-middle">Ajouter</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section> <!-- END CONTAINER -->

    </div> {# end #fiche #}


{% endblock %}
