{% extends 'base.html.twig' %}

{% block body %}

<section id="MAIN-CONTAINER">

    <section class="container">

        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <p class="date-ajout">DATE DE CREATION DU PROFIL</p>
            </div>
        </div>

        <section class="row justify-content-md-center">

            <!------- section gauche --------->

            <section class="col-md-3" id="user-profile-left">
                <div class="card">

                    {% if user.photo %}
                        <img class="card-img-top" src="{{ asset('photo/' ~ user.photo ) }}" alt="Titre de la photo">

                    {% else %}
                        <img class="card-img-top" src="https://source.unsplash.com/random" alt="Titre de la photo">

                    {% endif %}

                    <div class="card-body text-center">
                        <!--- infos--->
                        <h5 class="card-title user-lastname text-fluid">{{ user.lastname }}</h5>
                        <h5 class="card-title user-firstname text-fluid">{{ user.firstname }}</h5>
                        <p class="card-text user-job">{{ user.emploi }}</p>
                        <!--- boutons action--->
                        <button type="button" class="btn btn-labeled btn-info user-btn">
                            <i class="fa fa-pen"></i>
                            <span class="align-middle">Modifier</span>
                        </button>
                    </div>
                </div>
            </section>

            <!------- section droite --------->

            <section class="col-md-5">
                <div id="user-profile-right">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item title">
                            <i class="pictos-title fas fa-user"></i>
                            <h5 class="card-title">A propos</h5>
                        </li>
                        <li class="list-group-item">
                            <i class="pictos fas fa-phone"></i>
                            <p class="infos">{{ user.phone }}</p>
                        </li>
                        <li class="list-group-item">
                            <div><i class="pictos fa fa-envelope "></i></div>
                            <div><p class="infos">{{ user.email }}</p></div>
                        </li>
                        <li class="list-group-item">
                            <i class="pictos fa fa-home"></i>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text infos">{{ user.adress }}</p>
                                    <p class="card-text infos">{{ user.city }}</p>
                                    <p class="card-text infos">{{ user.postalCode }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="map">
                        <!-- ici mini map -->
                    </div>
                </div>
            </section>
        </section>
    </section> <!-- END CONTAINER -->


    <hr class="light">


    <!------- suggestions--------->

    <section id="suggestions">

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-5">
                    <h3 class="text-center mb-4">Vous les connaissez peut-être</h3>
                    <hr class="hr-title">
                </div>
            </div>

            <div class="row text-center mb-5" id="user-profile-left">
                <div class="col-md-3">
                    <div class="card d-flex justify-content-between">
                        <div class="photo ">
                        <img class="card-img-top rounded-circle img-fluid" src="https://source.unsplash.com/random">
                        </div>

                        <div class="card-body">
                            <div class="card-texts">
                                <h5 class="card-title user-name">Alexandra Dugrandchateaudeau</h5>
                                <p class="card-text user-job">Commerciale et ingénieure informaticienne </p>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-labeled btn-info user-btn">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span class="align-middle">Ajouter</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card d-flex justify-content-between">
                        <img class="card-img-top rounded-circle" src="https://source.unsplash.com/random">

                        <div class="card-body">
                            <div class="card-texts">
                                <h5 class="card-title user-name">Alexandra Dugrandchateaudeau</h5>
                                <p class="card-text user-job">Commerciale et ingénieure informaticienne </p>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-labeled btn-info user-btn">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span class="align-middle">Ajouter</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card d-flex justify-content-between">
                        <img class="card-img-top rounded-circle" src="https://source.unsplash.com/random">

                        <div class="card-body">
                            <div class="card-texts">
                                <h5 class="card-title user-name">Alexandra Dugrandchateaudeau</h5>
                                <p class="card-text user-job">Commerciale et ingénieure informaticienne </p>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-labeled btn-info user-btn">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span class="align-middle">Ajouter</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card d-flex justify-content-between">
                        <img class="card-img-top rounded-circle" src="https://source.unsplash.com/random">

                        <div class="card-body">
                            <div class="card-texts">
                                <h5 class="card-title user-name">Alexandra Dugrandchateaudeau</h5>
                                <p class="card-text user-job">Commerciale et ingénieure informaticienne </p>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-labeled btn-info user-btn">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span class="align-middle">Ajouter</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>

{% endblock %}
